<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4IAfDodqIKDRQkRcKfXHiPs-tQP6UWKY</string>
	<key>GCM_SENDER_ID</key>
	<string>14742521782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krd.ztech.kurdTree</string>
	<key>PROJECT_ID</key>
	<string>kurd-tree-krd</string>
	<key>STORAGE_BUCKET</key>
	<string>kurd-tree-krd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14742521782:ios:8630580a604df32a16e317</string>
</dict>
</plist>